<div class="row">
    <div class="col s7 push-s5"><span class="flow-text">
       <h2 class="headtext">Soccer in Helsinki {% %}</h2>
        
                <div class="headtext">Description : {% %}</div>
        <div class="headtext">Address : {% %}</div>
        <div class="headtext">Date : {% %}</div>
        <div class="headtext">Location : {% %}</div>
        
        
         <div class="headtext">{% %} people is coming</div>
        
        <a class="waves-effect waves-light btn">I join this</a>
        </span></div>
    <div class="col s5 pull-s7"><span class="flow-text">
         <img src="http://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Kids/Articles/Soccer+Tips/carousel.jpg" alt="" /></span></div>
</div>


<div class="row">

    <div class="col s4">
        <!-- Grey navigation panel -->
        <h5>Latest news</h5>
        <div class="latest_new">
            <p>{% % }</p>

        </div>
        <h5>Questions</h5>
        <div class="latest_new">
            <p>{% % }</p>

        </div>
    </div>

    <div class="col s4">
        <!-- Teal page content  -->
        <h5>Survival ideas</h5>
        <div class="latest_new">
            <p>{% % }</p>

        </div>
        <h5>Games</h5>
        <div class="latest_new">
            <p>{% % }</p>

        </div>

    </div>
    <div class="col s4">
        <!-- Teal page content  -->
        <h5>Friend ship</h5>
        <div class="latest_new">
            <p>{% % }</p>
            <a class="waves-effect waves-light btn">Send a message</a>

        </div>

    </div>

</div>