{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="col s3">"{}"</div>
    <div class="col s6">
        <a class="btn ">What is this button{% url "home" %}</a>
        <a class="btn disabled">{% url "home" %}</a>
        <a class="btn disabled">{% url "home" %}</a>

    </div>
    <div class="col s3">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="search" type="text" class="validate">
                        <label for="search" data-error="wrong" data-success="right">Search</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s6 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Kids/Articles/Soccer+Tips/carousel.jpg">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"></a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                    little markup to use effectively.</p>
            </div>
        </div>
    </div>
    <div class="col s6 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Kids/Articles/Soccer+Tips/carousel.jpg">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"></a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                    little markup to use effectively.</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s6 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Kids/Articles/Soccer+Tips/carousel.jpg">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"></a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                    little markup to use effectively.</p>
            </div>
        </div>
    </div>
    <div class="col s6 m6">
        <div class="card">
            <div class="card-image">
                <img src="http://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Kids/Articles/Soccer+Tips/carousel.jpg">
                <span class="card-title">Card Title</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"></a>
            </div>
            <div class="card-content">
                <div>
                    <div class="col s6 m6">
                        <a class="waves-effect waves-light btn">Create your event</a>
                    </div>
                    <div class="col s6 m6">
                        <a class="waves-effect waves-light btn">View all</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col s4">
        <h4>Latest news</h4>

        <ul>
        {% for entry in feeds %}
            <li><a href="{{entry.link}}">{{entry.title}}</a></li>

        {% endfor %}
        </ul>
    </div>
    <div class="col s4">
        <h4>Friendship</h4>
        {% for friendship in friendships %}
             <tr class="{% cycle 'row1' 'row2' %}">
        {{friendship.name}} ({{friendship.description}}) @({{friendship.location}})
             </tr>
        {% endfor %}
    </div>
    <div class="col s4">
        <h4>Survival ideas</h4>
        {% for event in events %}
             <tr class="{% cycle 'row1' 'row2' %}">
        {{event.name}} ({{event.description}}) @({{event.event_location}} at {{event.event_date}}
        </tr>
        {% endfor %}
    </div>
</div>
{% endblock %}